<!-- In our case we need not pass any form yet we are accesing our formby name form
This is because django class views render forms by nae form-->

{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "Border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">Sign In</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Not Having an Account? <a class="ml-2" href="{% url 'register'%}">Sign Un</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}
